@import 'bootstrap'; /* La hoja de estilos de Bootstrap */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color:#242424;;
  color: white;
}

.bg-body-tertiary{
  background-color: transparent !important;
}

.navbar > .container-fluid{
  justify-content: flex-end;
}

.shadow-svg{
  filter:drop-shadow(0px 0px 3px #c8c8c8)
}

.title-menu{
  height: 100%;

}

.tabs {
  display: flex;
  justify-content: center;
  width:100%;
  height:360px;
  padding:30px 20px;
  overflow:hidden;
}
.tab-header {
  float:left;
  width:180px;
  height:100%;
  padding:50px 0px;
}
.tab-header > div {
  height:50px;
  line-height:50px;
  font-size:16px;
  font-weight:600;
  color:#ffffff67;
  cursor:pointer;
  padding-left:10px;
}
.tab-header > div:hover,
.tab-header > div.active {
  color: white;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.6);
}
.tab-header div i {
  display:inline-block;
  margin-left:10px;
  margin-right:5px;
}
.tab-content {
  height: 100%;
  overflow:hidden;
}
.tab-content > div > i {
  display:inline-block;
  width:50px;
  height:50px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  line-height:50px;
  border-radius:50%;
}
.tab-content > div {
  text-align:center;
  padding:40px 20px;
  top:-200%;
  transition:all 1000ms ease-in-out;
}

.tab-indicator {
  display: flex;
  align-items: center;
  height:50px;
  transition:all 500ms ease-in-out;
}

.tab-border{
  display: flex;
    border-right: 1px solid #ccc;
    flex-direction: row;
}

.container{
  display: flex;
  flex-direction: row;
  height: 72.812vh;
}